@import "tailwindcss";
@import "../styles/tokens.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border-soft, currentColor);
  }

  body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-stroke-white {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  }
}
